*, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  margin: 5px;
  padding: 5px;
  /* border: 1px solid black; */
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

.LeftPane, .RightPane {
  display: flex;
  align-items: center;
  height: 90vh;
}

.LeftPane {
  grid-column-start: 1;
  grid-column-end: 2;
  justify-content: flex-end;
}

.RightPane {
  grid-column-start: 3;
  grid-column-end: 4;
  justify-content: flex-start;
}

.MidPane {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
}

.MenuBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.link {
  text-decoration: none;
  padding: 10px;
  margin-right: 5px;
}

.link:visited {
  color: black;
}

.slideText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resumeButton {
  border: black solid 1px;
  border-radius: 10px;
  padding: 7px;
}

.menuText {
  font-size: 20px;
  font-weight: 400;
}

.title {
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  margin-top: 0px;
  padding-top: 0px;
}

.subTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.center {
  text-align: center;
}

.text {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.skillCard {
  width: 20vw;
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed black;
  border-right: 1px dashed black;
  text-align: center;
  border-radius: 25px;
}

.allSkillCards {
  font-size: 17px;
  font-weight: 400;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.allProjectCards {
  font-size: 17px;
  font-weight: 400;
  text-align: left;
}

.projectTitle {
  font-size: 20px;
  font-weight: 600;
}

.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  text-align: justify;
}

.hello {
  font-family: 'Sacramento', cursive;
  font-size: 100px;
  text-align: left;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.myLogo > img {
  margin: -12px;
  margin-right: 10px;
  padding: 0px;
  height: 40px;
  width: 40px;
  filter: invert(75%);
}

.HeroBanner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 70vh;
}

.contactList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 0px;
}

.contactItem {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.contactInfo, .contactIcons {
  margin: 0;
  padding: 0;
}

.contactIcons > div {
  padding-top: 7px;
}

.contactInfo > div {
  padding-left: 20px;
}

.contactInfoItem {
  margin: 0;
  height: 40px;
}

.contactInfo {
  text-align: left;
  font-size: 17px;
  font-weight: 400;
}

.contactIcon {
  display: flex;
}

.bulletItem {
  margin: 0px;
  padding: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.myLogo > img:hover {
  filter: invert(0%);
}

.resumeButton:hover {
  text-decoration: none;
  background-color: black;
  color: white;
}

.projectTitle {
  text-align: center;
}

.screen {
  width: 300px;
}

.projectLinks {
  display: flex;
  flex-direction: row;
}

.projectLink > a {
  text-decoration: underline;
}